<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>study4</title>
</head>
<body>
    <h1>회원가입 하기</h1>
    <form action="/getForm" method="get">
        이름 <input type="text" name="name" required>
        <br>
        ID <input type="text" name="id" required>
        <br>
        PW <input type="password" name="pw" required>
        <br>
        <span>생년월일 </span>
        <select name="birthYear">
            <%for(var i=1930; i<2014 ; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>
        </select>
        <select name="birthMonth">
            <%for(var i=1; i<13 ; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>
        </select>
        <select name="birthDate">
            <%for(var i=1; i<32 ; i++) { %>
                <option value="<%=i%>"><%=i%></option>
            <% } %>
        </select>
        <br>
        <fieldset>
            <legend>취미</legend>
            <input type="checkbox" name="habbit" value="music" id="m"><label for="m">음악감상</label>
            <input type="checkbox" name="habbit" value="drama" id="d"><label for="d">드라마보기</label>
            <input type="checkbox" name="habbit" value="walk" id="w"><label for="w">산책하기</label>
        </fieldset>
        <br>
        <button type="submit">회원가입</button>
    </form>
</body>
</html>